

.container {
    padding: 8px; 
    max-width: 400px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px; 
    margin: 4px 0 15px 0; 
    display: inline-block;
    border: 1px solid #ccc; 
    background: #f1f1f1;
    font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px; 
}

.registerbtn {
    color: white;
    padding: 12px 18px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
    font-size: 14px;
}

.signin {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 14px;
}
