body{
    margin: 0;
}

#timerPanel {
    font-size: 1.25rem;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.game-area {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    width: 100vw;
    height: 80vh;
}

